<htmls>
<head>
    <script src="require.min.js"></script>
</head>
<body>
    <h1>Reactive Spring Demo Frontend</h1>
    <h3>Here be messages:</h3>
    <div id="messages"></div>
    <script>
        require(['ractive-spring-demo-frontend']);
    </script>
</body>
</htmls>